.App {
    text-align: center;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.ToDoList {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.ToDoItem {
    margin-top: 10px;
    font-size: 1.3rem;
}
.ToDoItem * {
    cursor: pointer;
}
.ToDoItem:has(input:checked) {
    text-decoration: line-through;
    color: rgba(63, 88, 92, 0.637);
}
.DeleteToDoItem{
    margin-left: 5px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/src/delete.png");
    width: 20px;
    height: 20px;
    line-height: 17px;
}
.ToDoListGroups {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.ToDoListGroup {
    flex: 1 1 0px;
    padding: 5px;
    border: 1px solid rgb(49, 199, 199);
    border-radius: 15px;
    color: rgb(70, 194, 194);
    cursor: pointer;
    transition-property: background-color, border-color, color;
    transition-duration: 0.5s;
}
.ToDoListGroup:has( input:checked){
    background-color: rgb(32, 125, 187);
    color: white;
    border-color: white;
}
.ToDoListGroup:hover {
    background-color: rgb(34, 204, 204);
    color: white;
    border-color: white;
}
.AddToDo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.AddToDo input {
    width: 300px;
    font-size: 1rem;
    padding: 4px;
    border: 1px solid rgb(0, 255, 255);
    color: rgb(29, 184, 223);
}
.AddToDo input:focus {
    border: none;
    outline: 1px solid rgb(12, 57, 182);
    margin: 1px;
}
.AddToDo input::placeholder {
    color: rgba(30, 165, 165, 0.336);
}
.Add {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: rgba(67, 224, 230, 0.521);
    border: 0.1px solid rgb(84, 222, 247);
    border-radius: 50px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
    box-shadow: 1px 2px 10px rgb(19, 146, 140);
    cursor: pointer;
    transition: background-color 0.25s ease-out 10ms, color 0.25s ease-out 10ms;
}
.Add:hover {
    background-color: rgb(20, 100, 204);
    box-shadow: 1px 2px 10px rgb(38, 19, 146);
    color: white;
}
